{% extends 'base.html' %}
{% load static %}

{% block title %}Posts{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
<h1>Games</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Post #</th>
            <th scope="col">Game</th>
            <th scope="col">Location</th>
            <th scope="col">Gamer Tag</th>
        </tr>
    </thead>
    <tbody>
    {% for post in post_list %}
      <tr>
          <td>{{ post.id }}</td>
        <td><a href="{% url 'post_detail' post.id %}">
            {{ post.game }}
        </a></td>
        <td>{{ post.location }}</td>
        <td>{{ post.gamer }}</td>
      </tr>
    </tbody>
    {% endfor %}
</table>
{% for post in post_list %}
<div class="cards">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h6 class="card-title text-dark">Post #: {{ post.id }}</h6>
            <h5 class="card-title text-dark">Game: {{ post.game }}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-dark">Location: {{ post.location }}</h6>
            <p>{{post.text|truncatechars:50}}</p>
            <a href="{% url 'post_detail' post.id %} " class="card-link text-dark">Details</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}